.container {
  padding-left: 15px;
  padding-right: 15px;
}

.about h1 {
  text-align: center;
}
.table h3 {
  text-align: center;
}
.first_columb {
  min-width: 200px;
}
.link_pdf {
  margin: 0 auto;
}

table p {
  text-align: center;
}

.advantages {
  display: flex;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 230px;
    padding-right: 230px;
  }
}
